<div class="title" id="titleBlock">
	<div class="center-align flex-block">
		<div class="title__block">
			<a class="title__logo" href="/">
				<img class="title__logo-img" src="/img/logo-min.png">
			</a>
		</div>
		<div class="title__block">
			<%if (user.id != undefined) { %>
				<a class="title__bar-button title__link" id="exitButton"><%= text.title.exit %></a>

   				<a class="title__bar-button title__link" href="/account"><%= text.title.account %></a>
    		<% } else{ %>
			    <a class="title__bar-button title__link" href="/authorisation"><%= text.title.signIn %></a>
   				<a class="title__bar-button title__link" href="/registration"><%= text.title.signUp %></a>
			<% } %>
			<%if (user.privilege > 0) { %>
   				<a class="title__bar-button title__link" href="/moderation"><%= text.title.moderate %></a>
    		<% } %>
		</div>
	</div>
</div>