<!DOCTYPE html>
<html>

<head>
    <% include _layouts/header %>
    <link rel='stylesheet' href='/css/elements/management.css' />
    <link rel='stylesheet' href='/css/account.css' />
</head>

<body>
    <% include _layouts/title %>
    <script type="text/javascript">
        window.localization = <%- JSON.stringify(text) %>;
    </script>
    <main class="wrapper">
        <div class="center-align">
            <div class="account_container">
                <div class="account_container-title" data-text="<%= text.page.personalInformation %>"><%= text.page.personalInformation %></div>
                <div class="account_information">
                    <div class="account_information-label">
                        <div class="account_information-title"><%= text.page.fullName %></div>
                        <div class="account_information-context"><%-userData.user.name%></div>
                    </div>
                    <div class="account_information-label">
                        <div class="account_information-title"><%= text.page.mail %></div>
                        <div class="account_information-context"><%-userData.user.mail%></div>
                    </div>
                    <div class="account_information-label">
                        <div class="account_information-title"><%= text.page.accountSecure %></div>
                        <div class="account_information-context">
                            <% if (userData.user.salt) { %>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <% } else { %>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            <% } %>
                        </div>
                    </div>
                    <div class="account_information-label">
                        <div class="account_information-title"><%= text.page.amountOfDevices %></div>
                        <div class="account_information-context" id="amountOfDevices"><%-userData.deviceLength%></div>
                    </div>
                </div>
            </div>
            <div class="account_container container-item-table">
                <div class="item-table">
                    <div class="item-table_header">
                        <div class="item-table_header-title" data-text="<%= text.page.productTable %>"><%= text.page.productTable %></div>
                        <div class="item-table_view-setting">
                            <div class="item-table_view-anount">
                                <span><%= text.layouts.show %></span>
                                <div class="custom-select">
                                    <div class="select-styled"></div>
                                    <ul class="select-options hide">
                                    </ul>
                                </div>
                                <span><%= text.layouts.entries %></span>
                            </div>
                            <div class="item-table_add-button"><%= text.layouts.add %></div>
                            <div class="item-table_view-pages">
                            </div>
                        </div>
                    </div>
                    <div class="item-table_body">
                        <table class="table-block">
                            <thead class="table-block_header">
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="popup-form-wrapper">
        <div class="popup-form">
            <div class="popup-form_header popup-form_center">
                <div class="popup-form_header-title"><%= text.page.edit %></div>
                <div class="popup-form_header-close">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="popup-form_body">
                <div class="popup-form_body-container">
                    <div class="popup-form_body-container-wrapper" id="popupFormAdd" style="display:none;">
                        <div class="popup-form_body-container-title"><%= text.page.product %></div>
                        <div class="popup-form_body-container-form">
                            <div class="popup-form_body-container-content">
                                <label class="popup-form_body-container-label input-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.productCode %></span>
                                    <input class="popup-form_body-container-label-input" id="popupFormAddShopCode">
                                    <div class="popup-form_error-block"></div>
                                </label>
                            </div>
                            <div class="popup-form_body-container-submit" id="popupFormAddSucces"><%= text.page.submit %></div>
                        </div>
                    </div>
                    <div class="popup-form_body-container-wrapper" id="popupFormEdit" style="display:none;">
                        <div class="popup-form_body-container-title"><%= text.page.product %></div>
                        <div class="popup-form_body-container-form">
                            <div class="popup-form_body-container-content fixed-width">
                                <label class="popup-form_body-container-label text-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.productType %></span>
                                    <span class="popup-form_body-container-label-text" id="popupFormEditProductType"></span>
                                </label>
                                <label class="popup-form_body-container-label input-label text-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.shopCode %></span>
                                    <span class="popup-form_body-container-label-text" id="popupFormEditShopCode"></span>
                                </label>
                            </div>
                            <div class="popup-form_slider-container">
                                <div class="popup-form_slider-header"><%= text.page.passwords %></div>
                                <div class="popup-form_slider" id="popupFormEditPassword">
                                </div>
                            </div>
                            <div class="popup-form_slider-container">
                                <div class="popup-form_slider-header"><%= text.page.fingerprints %></div>
                                <div class="popup-form_slider" id="popupFormEditFingerprint">
                                </div>
                            </div>
                            <div class="popup-form_slider-container">
                                <div class="popup-form_slider-header"><%= text.page.voiceRecords %></div>
                                <div class="popup-form_slider" id="popupFormEditVoice">
                                </div>
                            </div>
                            <div class="popup-form_body-container-submit" id="popupFormEditSucces"><%= text.page.submit %></div>
                        </div>
                    </div>
                </div>
                <div class="popup-form_body-container" style="display:none;">
                    <div class="popup-form_body-container-wrapper" id="popupFormNestedPassword">
                        <div class="popup-form_body-container-form">
                            <div class="popup-form_body-container-content fixed-width">
                                <label class="popup-form_body-container-label input-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.name %></span>
                                    <input class="popup-form_body-container-label-input" id="popupFormEditPasswordName">
                                    <div class="popup-form_error-block"></div>
                                </label>
                                <label class="popup-form_body-container-label input-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.password %></span>
                                    <input class="popup-form_body-container-label-input" id="popupFormEditPasswordPassword">
                                    <div class="popup-form_error-block"></div>
                                </label>
                            </div>
                            <div class="popup-form_body-container-submit" id="popupFormEditPasswordSucces"><%= text.page.submit %></div>
                        </div>
                    </div>
                </div>
                <div class="popup-form_body-container" style="display:none;">
                    <div class="popup-form_body-container-wrapper" id="popupFormNestedRequestStub">
                        <div class="popup-form_body-container-form">
                            <div class="popup-form_body-container-content fixed-width">
                                <label class="popup-form_body-container-label input-label">
                                    <span class="popup-form_body-container-label-title"><%= text.page.name %></span>
                                    <input class="popup-form_body-container-label-input" id="popupFormEditRequestStubName">
                                    <div class="popup-form_error-block"></div>
                                </label>
                            </div>
                            <div class="popup-form_body-container-submit" id="popupFormEditRequestStubSucces"><%= text.page.submit %></div>
                        </div>
                        <div class="popup-form_body-container-wrapper-loading">
                            <div class="popup-form_loading-text"><%= text.page.waitingDeviceAnswer %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include _layouts/footer %>
</body>
<script async defer type="text/javascript" src="/js/formValidator.js"></script>
<script async defer type="text/javascript" src="/js/header.js"></script>
<script async defer type="module" src="/js/page/account.js"></script>

</html>