<!DOCTYPE html>
<html>
	<head>
		<% include _layouts/header %>
		<link rel='stylesheet' href='/css/product.css'/>
    
	</head>
	<body>
    <script type="text/javascript">
      window.localization =  <%- JSON.stringify(text.page) %>;
    </script>
    <% include _layouts/title %>
      <div class="wrapper"> 
        <div class="product-revue center-align">
          <div class="product-revue__container-title"><%= text.page.aboutProduct %></div>
          <div class="product-revue__container product-revue__main-info-container">
            <div class="product-revue__container-coll img-coll">
              <img class="product-revue__img" src="/img/product/default/<%= product.type_id %>.jpg" />
            </div>
            <div class="product-revue__container-coll grow-coll">
              <div class="product-revue__data-block">
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.productType %></span>
                  <span class="product-revue__data-context"><%= product.type_name %></span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.firm %></span>
                  <span class="product-revue__data-context"><%= product.product_company %></span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.model %></span>
                  <span class="product-revue__data-context"><%= product.product_model %></span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.state %></span>
                  <span class="product-revue__data-context"><%= product.product_state %></span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.price %></span>
                  <span class="product-revue__data-context"><%= product.product_price %></span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.tracker %></span>
                  <span class="product-revue__data-context">
                    <%if (product.tracker_id != null) { %>
                      <%= text.page.yes %>
                    <% } else{ %>
                      <%= text.page.no %>
                    <% } %>
                  </span>
                </div>
                <div class="product-revue__data-field">
                  <span class="product-revue__data-title"><%= text.page.address %></span>
                  <span class="product-revue__data-context">
                    <%= product.address_city %>, <%= product.address_place %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-revue__container" id="tabMenu">
            <ul class="product-revue__tabs">
              <li class="product-revue__tabs-button" data-container-id="productDescribe" data-active=""><%= text.page.describe %></li>
              <li class="product-revue__tabs-button" data-container-id="priceTable" data-active=""><%= text.page.rentalPrice %></li>
              <li class="product-revue__tabs-button" data-container-id="additionalDescribe" data-active=""><%= text.page.additional %></li>
            </ul>
            <div class="product-revue__data-block product-revue__tabs-context" id="productDescribe">
              <div class="product-revue__data-field">
                <span class="product-revue__data-title"><%= text.page.additionalDescription %></span>
                <span class="product-revue__data-context"><%= product.product_context %></span>
              </div>
            </div>
            <div class="product-revue__data-block product-revue__tabs-context" id="priceTable" data-value="<%= product.product_price %>">
              <div class="product-revue__tabs-context-title"><%= text.page.priceTable %></div>
              <table class="product-revue__price-table">
                <thead class="product-revue__price-table-head">
                  <tr>
                    <td><%= text.page.duration %></td>
                    <td><%= text.page.costs %></td>
                  </tr>
                </thead>
                <tbody class="product-revue__price-table-body">
                </tbody>
              </table>
            </div>
            <div class="product-revue__data-block product-revue__tabs-context" id="additionalDescribe">
              <div class="product-revue__data-field">
                <span class="product-revue__data-title"><%= text.page.additional %></span>
                <span class="product-revue__data-context"><%= text.page.empty %></span>
              </div>
            </div>
          </div>
          <div class="product-revue__container-title"><%= text.page.cityMap %></div>
          <div class="product-revue__container">
            <div class="product-map">
              <div class="product-map__title"><%= product.address_city %></div>
              <div class="product-map__block" id="map" data-coordinates="<%= product.address_coordinates %>" data-address="<%= product.address_city %>, <%= product.address_place %>"></div>
            </div>
          </div>
          <%if (user.id != undefined) { %>
            <div class="product-revue__container">
              <div class="product-revue__button <% if(product.rent_id != null) { %>button-disable<% } %>" id="rentButton" data-value="<%= product.product_id %>"><%= text.page.toRent %></div>
            </div>
          <% } %>
        </div>
      </div>
      <% include _layouts/footer %>
      <div class="popup-block" id="rentAlert">
          <div class="popup-block__close-button"><%= text.page.close %></div>
          <div class="popup-block__title"></div>
          <div class="popup-block__message"></div>
          <a class="popup-block__link" href=""></a>
      </div>
	</body>
  <script type="text/javascript" src="/js/page/product.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= mapKey %>&callback=initMap"></script>
</html>
